<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Edit Listing</h1>
  <div class="col-6 offset-3">
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="title">Title:</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="listing[title]"
          value="<%= listing.title %>"
          required
        />
        <div class="valid-feedback">
          looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location:</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="listing[location]"
          value="<%= listing.location %>"
          required
        />
        <div class="valid-feedback">
          looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price:</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">₹</span>
          <input
            type="number"
            class="form-control"
            id="price"
            name="listing[price]"
            aria-label="price"
            aria-describedby="price-label"
            value="<%= listing.price %>"
            required
          />
          <div class="valid-feedback">
          looks good!
        </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="image">Image Url:</label>
        <input
          class="form-control"
          type="url"
          id="image"
          name="listing[image]"
          value="<%= listing.image %>"
          required
        />
        <div class="valid-feedback">
          looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description:</label>
        
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="listing[description]"
          required
        >
<%= listing.description %></textarea
        >
        <div class="valid-feedback">
          looks good!
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Listing</button>
      </div>
    </form>
    <a href="/listings/<%= listing._id %>">Back To Listing</a>
  </div>
</div>
