<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= listing.title %></title>
</head>
<body>
    <h1><%= listing.title %></h1>
    <h2><%= listing.location %></h2>
    <p>
        <a href="/listings/<%= listing._id %>/edit">Edit</a>
    </p>
    <p>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/listings">Go Back</a>
    </footer>
</body>
</html>